.pageGallery {
  display: block;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.pageList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 20px;
  list-style: none;
  padding: 0;
}
.pageItem {
  text-align: center;
  transition: transform 0.3s;
}
.pageItem:hover {
  transform: scale(1.05);
}
.pagePoster {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.pageTitle {
  margin-top: 10px;
  font-size: 20px;
  color: #333;
}
.pageTitle:hover {
  color: rgb(198, 71, 29);
}
